<article class="card">
  <img class="img" [src]="product.imageUrl" [alt]="product.name" />

  <div class="body">
    <div class="top">
      <h3 class="title">{{ product.name }}</h3>
      <span class="price">{{ formattedPrice }}</span>
    </div>

    <p class="meta">{{ product.category }}</p>
    <p class="desc">{{ product.description }}</p>

    <p class="stock" [class.out]="!product.inStock">
      @if (product.inStock) { En stock } @else { Agotado }
    </p>

    <button class="btn" [disabled]="!product.inStock">
      Agregar
    </button>
  </div>
</article>